global
    daemon
    maxconn 4096

defaults
    mode http
    timeout connect 10s
    timeout client 1m
    timeout server 1m
    timeout tunnel 1h

listen private_monitoring
    bind 127.0.0.1:9999
    stats enable
    stats uri /
    stats refresh 5s

{% for app in apps %}
{% for portMapping in app.container.docker.portMappings %}

frontend http-in{{ portMapping.servicePort }}
{% if app.labels.network is defined and app.labels.network == 'private' %}
    bind 127.0.0.1:{{ portMapping.servicePort }}
{% else %}
    bind *:{{ portMapping.servicePort }}
{% endif %}

{% if app.labels.mode is defined %}
    mode {{ app.labels.mode }}
{% endif %}

    use_backend {{ app.id | regex_replace('/(.*)$', '\\1') | regex_replace('/', '_') }}{{ portMapping.servicePort }}

{% endfor %}
{% endfor %}

{% for app in apps %}
{% set i = 0 %}
{% for portMapping in app.container.docker.portMappings %}

backend {{ app.id | regex_replace('/(.*)$', '\\1') | regex_replace('/', '_') }}{{ portMapping.servicePort }}

{% if i == 0 and app.labels.mode is defined %}
    mode {{ app.labels.mode }}
{% endif %}

{% for task in app.tasks %}

{% if task.healthCheckResults and task.healthCheckResults[-1].alive %}
    server server{{ ("%s:%s" % (task.host, task.ports[i])) | regex_replace('[^a-z0-9]', '-') }} {{ task.host }}:{{ task.ports[i] }} check
{% endif %}

{% endfor %}
{% set i = i + 1 %}
{% endfor %}
{% endfor %}
